
body {
  background-image: radial-gradient(#00bdaa,#257aa6,#621e81);
  background-position: center;
  background-color: #eaeaea;
  background-repeat: no-repeat;
}

footer{
  text-align: center;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 75px;
}
h2 {
  font-family: monospace;
  font-size: 32px;
  font-weight: bolder;
}
p {
  font-size: 20px;
}

/* Class styles */
.jumbotron{
  background-image: url("../images/520river.jpg");
  background-size: cover;

}
.transbox{
  background-color: #ffffff;
  border: 1px solid black;
  opacity: .75;
  border-radius: 10%;
}

.transbox.p{
  color: black;
  font-weight: bold;
}
.interest-jumbo{
  color: black;
}

.nav-link{
  color: #eaeaea;
  margin: 0 20px;
  font-size: 20px;
}
.cover-heading{
  font-family:monospace ;
  font-weight: bold;
  font-size: 75px;

}
.lead{
  font-family: monospace;
}

.intrest-img{
  height:275px;
  width:325px;
  margin: 0 auto;
  border-radius: 5%;
}

.jumbotron{
  background-color: #b5edba;
}

/* ID Styles */
#coverImg {
  display: block;
  height: 412px;
  width: 40%;
  margin: 30px auto;
  border-radius: 5%;

}



.new-body{
  background-image: radial-gradient(#fac70b,#127681,#df0e62);
  background-position: center;
  background-color: #eaeaea;
  background-repeat: no-repeat;
}
